@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/* =========
            MAIN
============ */


main h1{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color:#7f5539;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    gap: 3rem;
}
article{
    text-align: center;
    background-color: #7f5539;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
article img{
    height: 18.75rem;
    text-align: center;
    width: 100%;
    object-fit: cover;
}
article h2{
    padding: 0 0 3rem 0;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    white-space: nowrap;
}
article a {
    padding: 0.5rem 5rem;
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
article a:hover{
    background-color: rgba(49, 49, 49, 0.603);
    
}
article div{
    padding: 1rem 1rem;
}



/* =========
footer
============ */



@media(max-width:978px){
    section{
        grid-template-columns: 1fr;
        width: 95%;
    }
    main h1{
        font-size: 2rem;
    }
    header{
        margin-bottom: 1rem;
    }
    .burger{
        display: flex;
    }
    header nav{
        display: none;
    }
    
}
